@font-face{font-family: Papyrus; src: url('Papyrus.TTF');}
@font-face{font-family: Baskerville Old Face; src: url('ufonts.com_baskerville-old-face.ttf');}

/*responsive design*/
@media only screen and (max-width:1000px){
  #biografie{
    font-size: 23pt !important;
  }

  a{
    font-size: 17pt !important;
  }

}

body {
background:rgb(223,220,85);
color: white;
margin: 0;
font-size: 13pt;
}

#container{
width:100%;
position: relative;
}

#header{
font-size: 13pt;
font-style: italic;
font-weight: bold;
min-width: 570px;
margin-left:auto;
margin-right:auto;
background-color:rgb(0,0,47);
text-align:center;
height:115px;
width:50%;
color: silver;
font-family: Papyrus;
float:center;
padding-top:8px;
}

#header > h1 > font > li{
font-family: Baskerville Old Face;
font-style: normal;
font-size: 18pt;
}
#content{
min-width: 570px;
margin-left:auto;
margin-right:auto;
background:rgb(0,0,47);
min-height: 1400px;
width: 50%;
position: relative;
margin-top: -5px;
font-weight: bold;
font-family: Baskerville Old Face;
overflow: hidden;
}

a{
text-decoration: none;
font: bold;
color:silver;
}

#nav a {
display: block;
margin: 2px 10px 3px 0px;
}

td.menu{
background:rgb(0,0,47);
}

table{
background-color:rgb(0,0,47)
}

#slideshow {
    margin:auto;
    position: static;
    width: 100%;
}

#slideshow > div {
    position: relative;
}

table.menu{
position:absolute;
visibility:hidden;
}

#galerij{
margin-top: 60px;
margin-bottom: 20px;
width: 90%;
}

#galerij > img{
width: 150px;
height: 200px;
margin-left: 40px;
margin-top: 25px;
margin-bottom: 25px;
float:left;
}

#galerij > img:hover{
opacity: 0.6;
}

#galerij2 > img:hover{
opacity: 0.6;
}

#galerij2{
margin-top: 60px;
width: 90%;
}

#galerij2 > img{
width: 200px;
height: 150px;
margin-left: 40px;
margin-top: 25px;
margin-bottom: 25px;
float:left;
}

.lightbox{
display: none;
position: fixed;
z-index:  999;
width: 100%;
height: 100%;
text-align: center;
top: 0;
left: 0;
background: rgba(0,0,0,0.7);
}

.lightbox img{
max-width: 90%;
max-height: 80%;
margin-top: 2%;
}

.lightbox:target{
outline: none;
display: block;
}

#info{
//font-family: Times New roman;
font-weight: normal;
text-align:left;
margin-left:40px;
margin-right: 40px;
}

#info > a{
text-decoration: underline;
}

#info > li > a{
text-decoration: underline;
}

#biografie{
  font-weight: normal;
  font-size: 13pt;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}
