video::-webkit-media-controls{
  display: none;
}

.bar{
  //display: none;
  width: 1280px;
  margin-top: 50px;
  -webkit-appearance: none;
}

.bar::-webkit-slider-runnable-track{
  background: gray;
  height: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.bar:focus{
  outline: none;
}

.bar:active::-webkit-slider-runnable-track{
  background: #303F9F;
}

.bar:active::-webkit-slider-thumb{
  box-shadow: 0px 0px 0px 7px rgba(100, 100, 100, 0.5);
}

.bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: #303F9F;
  margin-top: -6.5px;
  transition: .2s all ease-in-out;
}

#part{
  height: 720px;
  width: 1280px;
  background-size: contain;
}
